.contest-card {
    background-image: url('../../../../src/assets/img/contestImg.png');
    height: 640px;
    background-size: cover;
    display: grid;
    grid-template-rows: 380px 1fr 1fr 1fr 60px;
    grid-template-columns: $mainMargin 1fr 1fr $mainMargin;
    grid-template-areas:
        'marg1 marg1 marg1 marg1'
        'marg2 user clock marg3'
        'marg2 header clock marg5'
        'marg2 btn clock marg5'
        'marg4 marg4 marg4 marg4';

    .user {
        grid-area: user;
        background-color: $BGC2;
        padding: 10px 20px;
        border-radius: 20px;
        width: max-content;
        height: max-content;
        margin-block-end: 30px;
    }

    h1 {
        grid-area: header;
        font-size: 3.18em;
        height: max-content;
        margin-block-end: 30px;
    }

    .form-btn {
        grid-area: btn;
        background-color: white;
        color: $txtClr3;
        width: max-content;
        width: 221px;
        height: max-content;
    }

    .clock {
        grid-area: clock;
        background-color: rgba(43, 43, 43, 0.5);
        padding: 30px;
        border-radius: 20px;
        width: max-content;
        height: max-content;
        align-self: self-end;
        justify-self: self-end;

        .text {
            font-size: 0.75em;
        }

        .time {
            font-size: 2.375em;
            font-weight: 700;
        }
    }

    @include for-normal-layout {
        grid-template-rows: 380px 1fr 1fr 1fr 60px;
        grid-template-columns: $mainMargin 1fr 1fr $mainMargin;
        grid-template-areas:
            'marg1 marg1 marg1 marg1'
            'marg2 user clock marg3'
            'marg2 header clock marg5'
            'marg2 btn clock marg5'
            'marg4 marg4 marg4 marg4';

        .user {
            grid-area: user;
        }

        h1 {
            grid-area: header;
            font-size: 2.375em;
            margin: 0;

        }

        .form-btn {
            grid-area: btn;

        }

        .clock {
            grid-area: clock;

            .text {
                font-size: 0.75em;
            }

            .time {
                font-size: 2.375em;
                font-weight: 700;
            }
        }
    }

    @include for-narrow-layout {
        grid-template-rows: 120px 1fr 1fr 1fr 1fr 60px;
        grid-template-columns: $mainMarginNarrow 1fr $mainMarginNarrow;
        grid-template-areas:
            'marg1 marg1 marg1'
            'marg2 user marg3'
            'marg2 header marg3'
            'marg2 clock marg3'
            'marg2 btn marg3'
            'marg4 marg4 marg4';
        row-gap: 30px;

        .user {
            grid-area: user;
        }

        h1 {
            grid-area: header;
            font-size: 2.375em;

        }

        .form-btn {
            grid-area: btn;
            width: 100%;

        }

        .clock {
            grid-area: clock;
            // width: 100%;
            align-self: center;
            justify-self: center;
    

            .text {
                font-size: 0.75em;
            }

            .time {
                font-size: 2.375em;
                font-weight: 700;
            }
        }
    }
}