.recipes-list {
    .card-grid {
        grid-area: main;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .recipes-card{
        .name{
            font-size: 0.75em;
            gap: 0px;
            img{
                width: 14px !important;
            }
        }
    }

    @include for-normal-layout {
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'main'
            'btn'
        ;

        h2 {
            font-size: 1.75em;
        }

        .underline-btn {
            width: 100%;
        }

        .card-grid {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
}