.recipes-list {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'header btn'
        'main main';
    gap: 30px;

    h2 {
        grid-area: header;
        font-size: 2em;
    }

    .underline-btn {
        grid-area: btn;
        justify-self: end;
        border-radius: 1.2em;
    }

    .card-grid {
        grid-area: main;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .recipes-card{
        .name{
            font-size: 0.75em;
            gap: 0px;
            img{
                width: 14px !important;
            }
        }
    }

    @include for-normal-layout {
        // grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'main'
            'btn'
        ;

        h2 {
            font-size: 1.75em;
        }

        .underline-btn {
            width: 100%;
        }

        .card-grid {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
}