button {
    margin: 0;
    border: 0;
    border-radius: 10px;
    background-color: $BGC1;
    color: $txtClr1;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: workSans;
    transition: transform 0.3s ease-in-out;


    &.form-btn {
        background-color: $btnClr;
    }

    &.underline-btn {
        border: 2px solid $btnClr;
        width: 200px;
    }

    &:hover {
        transform: scale(0.9);
    }
}

form>* {
    display: block;
    width: 200px;
    margin: 10px 0px;
}

.recipes-card {
    background-color: $BGC2;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    img {
        border-radius: 10px 10px 0px 0px;
    }

    .recipes-details {
        padding: 20px;

        h4 {
            font-size: 1.375em;
        }
    }

    &:hover {
        transform: scale(0.9);
    }
}

.mini-profile {
    width: 24px;

}

.num{
    font-family: spaceMono;
}