.browse-marketplace {
    margin-top: 100px;

    h1 {
        margin-block: 80px 30px;
    }

    .search {
        position: relative;
        margin-block-end: 80px;

        input {
            width: 100%;
            background-color: $BGC1;
            border: 1px solid $BGC2;
        }

        button {
            position: absolute;
            right: 10px;
        }
    }

    .btns {
        width: 100%;

        button {
            width: 50%;
            color: $txtClr2;
            border-radius: 0;

            &.select {
                color: $txtClr1;
                border-bottom: 2px solid white;
            }
        }
    }

    .list {
        padding-block: 60px;
        background-color: $BGC2;
        margin-bottom: 5px;
    }

    @include for-normal-layout {
        h1 {
            margin-block: 60px 30px;
        }

        .search {
            margin-block-end: 60px;
        }
    }

    @include for-narrow-layout {

        h1 {
            margin-block: 40px 30px;
        }

        .search {
            margin-block-end: 40px;
        }
    }
}