.creator-page {
    margin-top: 100px;

    .imgs {
        position: relative;
        margin-bottom: 60px;

        .back {
            width: 100%;
            height: 280px;
            object-fit: cover;
        }

        .face {
            position: absolute;
            width: 120px;
            bottom: -60px;
            left: 150px;
        }
    }

    .about {
        padding-block: 40px;

        .head {
            button {
                width: 180px;
            }

        }
    }

    .statistics {
        gap: 70px;
    }

    .bio,
    .links {
        h4 {
            color: $txtClr2;
        }
    }

    .icons {
        img {
            width: 25px;
        }
    }

    .line{
        background-color: $txtClr2;
        width: 100%;
        height: 1px;
        margin-block-end: 10px;
    }

    .btns {

        button {
            width: 100%;
            color: $txtClr2;
            border-radius: 0;

            &.select {
                color: $txtClr1;
                border-bottom: 2px solid white;
            }
        }
    }

    .list {
        padding-block: 60px;
        background-color: $BGC2;
        margin-bottom: 5px;
    }

    @include for-normal-layout {

        .about {
            .head {
                flex-direction: column;
                gap: 30px;

            }
        }

        @include for-narrow-layout {

            .imgs {
                .face {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .about {


                .head {
                    div {
                        flex-direction: column;
                        gap: 30px;

                        button {
                            width: 100%;
                        }
                    }
                }

                .statistics {
                    gap: 60px;
                }
            }
        }
    }
}