@font-face {
    font-family: workSans;
    src: url("../../../../src/assets/fonts/WorkSans-Medium.ttf");
}

@font-face {
    font-family: spaceMono;
    src: url("../../../../src/assets/fonts/SpaceMono-Regular.ttf");
}
