// Colors
$BGC1: #2B2B2B;
$BGC2: #3B3B3B;
$btnClr: #a259ff; 
$txtClr1: #ffffff;
$txtClr2: #A9A9A9;
$txtClr3: #2B2B2B;
$txtClr4: #CCCCCC;




// LAYOUT BREAKPOINTS
$break-narrow: 650px;
$break-normal: 900px;
$break-wide: 1200px;